{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="{% static 'assets/css/videos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
     <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
<div id="preloader">
  <img src="{% static 'assets/img/Facebook_Logo_(2019).png' %}" alt="Loading..." />
</div>
<div id="content" style="display: none;">
<div class="body">
<nav class="navbar">
  <div class="nav-logo">
    <a href="#"><img src="{% static 'assets/img/Facebook_Logo_(2019).png' %}" alt="Logo"></a>
  </div>
    <div class="search-bar">
  <input type="text" placeholder="Search Facebook" />
  <button type="submit"><i data-lucide="search"></i></button>
</div>
 <ul class="nav-links">
  <li><a href="{% url 'home' %}"><i data-lucide="home"></i></a></li>
  <li><a href="#"><i data-lucide="video"></i></a></li>
  <li><a href="#"><i data-lucide="mail"></i></a></li>
  <li><a href="#"><i data-lucide="settings"></i></a></li>
</ul>
{#  <div class="nav-button">#}
{#    <button>Log Out</button>#}
{#  </div>#}
</nav>
<div>
<!-- Left Sidebar -->
<div class="left-sidebar">
  <div class="profile-section" style="display: flex; align-items: center;">
    <img src="profile-pic.jpg" alt="Profile Picture" class="profile-pic">
   <h4 id="username-display"></h4>
  </div>
  <ul class="sidebar-links">
  <li><i data-lucide="home"></i> <span style="font-weight: bold;">Home</span></li>
    <li><i data-lucide="tv"></i> <span style="font-weight: bold;">Live</span></li>
    <li><i data-lucide="video"></i> <span style="font-weight: bold;">Reels</span></li>
    <li><i data-lucide="film"></i> <span style="font-weight: bold;">Shows</span></li>
    <li><i data-lucide="compass"></i> <span style="font-weight: bold;">Explore</span></li>
    <li><i data-lucide="bookmark"></i> <span style="font-weight: bold;">Saved Videos</span></li>
  </ul>
</div>
    <!-- Main Feed HTML -->
<div class="main-feed">
    <div id="watch-container"></div>
</div>
    
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
</body>
<script>lucide.createIcons();</script>
<script>var loginpage = "{% url 'login' %}";</script>
<script src="{% static 'assets/js/sidebar.js' %}"></script>
<script src="{% static 'assets/js/homepage.js' %}"></script>
<script src="{% static 'assets/js/watch.js' %}"></script>
<script src="{% static 'assets/js/comments.js' %}"></script>
<script src="{% static 'assets/js/preloader.js' %}"></script>
</html>