.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1px;
  flex: 1;
  background-color: white; /* Facebook blue */
  /*color: white;*/
}

.nav-logo img {
  height: 35px;
   margin-right: 20px; /* Add margin to push the search bar closer */
}


/*Nav Icons*/
.nav-links li {
  display: inline-block;
  margin-right: -20px;
}

.nav-links a {
  color: #666;
  font-size: 35px;
  text-decoration: none;
}

.nav-links a:hover {
  color: #1877f2;
}

i[data-lucide] {
  width: 24px;
  height: 24px;
  stroke: #666;
  stroke-width:1.5;
  fill: none;
  transition: stroke 0.2s;
}


/*Search Bar*/
.search-bar {
  display: flex;
  align-items: center;
  background-color: #f0f2f5; /* Light grey background */
  border-radius: 20px;
  padding: 5px 10px;
  margin-left: 20px;
  width: 250px; /* Adjust width as needed */
}

.search-bar input {
  border: none;
  background: transparent;
  outline: none;
  flex: 1; /* Takes available space */
  padding: 5px 10px;
  font-size: 14px;
  color: #333;
  width: 300px;          /* Default width */
  max-width: 100%;       /* Prevent overflow */
  transition: width 0.3s ease; /* Smooth transition */


}

.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.search-bar i[data-lucide="search"] {
  stroke: #666; /* Grey icon */
  width: 20px;
  height: 20px;
}



/* Media Queries */

/*@media (max-width: 1200px) {*/
/*  .search-bar input {*/
/*    width: 250px;  !* Smaller width for medium screens *!*/
/*  }*/
/*}*/

/*@media (max-width: 768px) {*/
/*  .search-bar input {*/
/*    width: 180px;  !* Even smaller for tablets *!*/
/*  }*/
/*}*/

/*@media (max-width: 480px) {*/
/*  .search-bar input {*/
/*    width: 120px;  !* Smallest size for mobile phones *!*/
/*  }*/
/*}*/










